IMAGE_API_KEY="OBTAIN_FROM_IMAGE_HIPPO"
NUXT_AUTH_SECRET="LONG_RANDOM_STRING" # Replace with a secure random string
NUXT_AUTH_ORIGIN="BASE_URL/api/auth" #On production, this should be the URL of the website example https://example.com/api/auth
NITRO_PORT= ANY_PORT_NUMBER
PORT= ANY_PORT_NUMBER # Same as above